@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --main-bg-color: #161616;
  }
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    background-color: var(--main-bg-color);
}
html{
    scroll-behavior: smooth;
}
header{
    #menuBurger{
        display: none;
    }
    margin-top: 55px;
    transition: 0.2s;
    z-index: 1000;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    height: 80px;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #202020 ;
    nav{
        display: flex;
        gap: 30px;

        a{
            color: white;
            text-decoration: none;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
    @media (max-width: 762px) {
        nav{
            display: none;
        }
        #menuBurger{
            display: block;
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            div{
                border-radius: 2px;
                width: 100%;
                height: 10%;
                background-color: white;
            }
        }

    }
}

.sectionPresentation{
    color: white;
    background-color: #161616;
    padding-top: 70px;
    gap: 50px;
    width: 70%;
    min-height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h1{
        display: flex;
    }
    .presantation{
        width: 50%;
    }
    img{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        height: 300px;
        border-radius: 200px;
    }
    #phraseQuiBouge{
        position: absolute;
        margin-left: 80px;
        
    }
    @media (max-width: 762px) {
        margin-bottom: 20px;
        p{
            margin: 10px;
        }
        width: 90%;
        h1{
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        img{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            height: 150px;
            border-radius: 200px;
            margin-top: 100px;
        }
        #phraseQuiBouge{
            margin-left: 0px;
            position: static;
        }
        .presantation{
            width: 100%;
        }
        flex-direction: column;
    }
}

.mesRealisations{
    padding-left: 15vw;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-right: 15vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    .realisationsContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .realisationCard{
            width: 30%;
        }
    }
    img{
        max-width: 100%;
    }
    @media (max-width: 762px) {
        padding-left: 10%;
        .realisationsContainer{
            display: flex;
            flex-direction: column;
            .realisationCard{
                width: 100%;
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: solid black 10px;
            }
        }
    }
}


@keyframes phrase{
    0%{
        opacity: 0;
        transform: scaleY(0%);
    }
    20%{
        opacity: 1;
        transform: scaleY(100%);
    }
    90%{
        opacity: 1;
        transform: scaleY(100%);
    }
    100%{
        opacity: 0;
        transform: scaleY(0%);
    }
}

#logo{
    font-size: 40px;
    color: white;
    
}

#logoContainer{
    text-decoration: none;
}

.meContacter{
    border-top: solid black 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: calc(100% - 2*100px);
    gap:70px;
    .contactContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .contact{
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .logoContact{
                transition: 0.3s;
                width: 50px;
                &:hover{
                    width: 70px;
                }
            }
        }
    } 
    @media (max-width: 762px) {
        h1{
            width: 100%;
            font-size: 20px;
            text-align: center;
        }
        .contactContainer{
            display: flex;
            flex-direction: column;
        }
    }  
}

.titleContactMe{
    font-size: 50px;
    margin: 0;
}

footer{
    height: 50px;
    color: gray;
    display: flex;
    align-items: center;
    @media (max-width: 762px) {
        font-size: 10px;
    }
}

.menuDéroulant{
    position: fixed;
    z-index: 2000;
    height: 100vh;
    background-color: #202020;
    width: 70vw;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transform: translateX(100%);
    a{
        color: white;
        text-decoration: none;
    }
    img{
        width: 50px;
    }
}
@keyframes openMenu{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes closeMenu{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}
